.landing {
  height: 100vh;
  background-color: rgba(146, 156, 222, 0.221);

  .main-content {
    display: flex;

    .showcase {
      display: flex;
      margin-left: 5rem;
      margin-top: 10rem;

      width: 60%;

      .case1 {
        margin-right: auto;
      }
    }

    .login-box {
      margin-top: 5rem;
      margin-right: 4rem;
      height: fit-content;
      width: 20%;
    }
  }
}
